# Laravel vendor & node
/vendor
/node_modules

# Laravel storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/storage/debugbar/*
!/storage/app/public/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore
!/storage/debugbar/.gitignore

# Laravel public
/public/hot
/public/storage
/public/build

# Environment files
.env
.env.*
!.env.example
!.env.docker.example

# Logs & caches
*.log
.phpunit.result.cache
/.phpunit.cache

# IDE / Editor
.DS_Store
Thumbs.db
/.idea
/.fleet
/.vscode
/.nova
/.zed
.phpactor.json

# Homestead
Homestead.yaml
Homestead.json
